<style>
  body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0;
  padding: 0; display: flex; justify-content: center; align-items: center;
  height: 100vh; } .register-container { background-color: #fff; padding: 20px;
  border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); width: 300px;
  text-align: center; } .register-container h2 { margin-bottom: 15px; }
  .register-container input[type="text"], .register-container
  input[type="password"] { width: 100%; padding: 10px; margin-bottom: 10px;
  border: 1px solid #ccc; border-radius: 3px; } .register-container
  input[type="submit"] { background-color: #007bff; color: #fff; border: none;
  padding: 10px 20px; border-radius: 3px; cursor: pointer; }
</style>

<div class="register-container">
  <h2>Registro</h2>
  <form action="/api/sessions/register" method="POST">
    Nombre:
    <input type="text" name="name" /><br /><br />
    Apellido:
    <input type="text" name="lastname" /><br /><br />
    Email:
    <input type="text" name="email" /><br /><br />
    Edad:
    <input type="text" name="age" /><br /><br />
    Contraseña:
    <input type="password" name="password" /><br /><br />
    Administrador?:
    <input type="checkbox" name="isAdmin" /><br /><br />
    <input type="submit" value="Registrar" />
  </form>
</div>